@page "/ContractorOverview"
@inherits ContractorOverviewModel
@*@page "/fetchdata"
*@
@*@using SouthWestContractors.Client.Services
@inject ContractorDataService ContractorService*@
<h3>Contractor Overview</h3>

@*<div class="m-2 d-flex justify-content-end">
    <button @onclick="AddNewContractor" class="mr-1">Add event</button>
    <button @onclick="ExportContractors">Export events</button>
</div>*@



@if (Contractors == null)
{
<p><em>Loading...</em></p>
}
else
{
<table>
    <thead>
        <tr>
            <th></th>
            <th>Contractor Name</th>
            <th>Contractor Last Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Contractors)
            {
        <tr>
           
            <td class="event-name">@ev.Name </td>
            <td class="event-name">@ev.LastName </td>
            @*<td>
                <a href="@($"contractordetails/{ev.ContractorId}")" class="event-purchase-button btn">
                    <i class="fas fa-edit"></i>
                </a>
            </td>*@
        </tr>
            }
    </tbody>
</table>
}

